.bonde-phone-call .chakra-stack > * {
  width: 100%;
}

.bonde-phone-call--in-progress blockquote {
  border-inline-start: 2px solid var(--chakra-colors-gray-200);
  color: var(--chakra-colors-gray-700);
  font-style: italic;
  margin-block: var(--chakra-space-4) !important;
  padding-inline: var(--chakra-space-4);
}

.bonde-phone-call--in-progress blockquote::before {
  content: '“';
}

.bonde-phone-call--in-progress blockquote::after {
  content: '”';
}
